
/* Key fonts */
/* @import url('//fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic'); */
@font-face {
  font-family: GentiumPlus;
  src: url(GentiumPlus-R.woff);
}
@font-face {
  font-family: GentiumPlus;
  font-style: italic;
  src: url(GentiumPlus-I.woff);
}
@font-face {
  font-family: DropCap;
  src: url(TypographerWoodcut01.ttf);
}



/* global size and font */
body {
  font-family: georgia,garamond,serif;
  font-size: 16pt;
  padding-right: 1em;
}


/* front matter */
.titlepage {
  text-align: center;
  margin-bottom: 10em;
  font-family: GentiumPlus, georgia,garamond,serif;
}
.titlepage .cover {
  width: 80%;
  max-width: 30em;
  margin:0;
}
.titlepage .title {
  font-style:normal;
  font-weight: bold;
  margin: 1em; margin-bottom: .5em;
  font-size: 200%;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.37);
}
.titlepage .subtitle {
  font-style:normal;
  font-weight: normal;
  font-variant:small-caps;
  margin: 2em;
}
.titlepage .author {
  font-style:italic;
  font-weight: normal;
  margin-bottom: 2em;
  color: darkgreen;
}
.titlepage .logo {
  width: 15%; max-height:12em; opacity: 0.9;
  margin-top:8em; margin-bottom: 1em;
}
.titlepage .logo-label {
  margin-top:0;
}

.toc {margin-left: 1em;}
.toc ol, ol.toc {
  margin-left: 2em;
  line-height: 2em;
  font-variant: small-caps;
}
.toc li.section_title {
  font-size: 1em;
  line-height: 1.5em;
}
.toc li.subtitle {
  font-size: .75em;
  margin-left: .8em;
  line-height: .8em;
}
.toc .date {
  font-style: italic; color: #444;
}

/* divider - TODO: add some more options */
hr {
  display: block;
  border: 0;
  height: 35px;
  background: url(hr.svg) 50% 0 no-repeat;
  margin: 3em 0;
}


/* blocks */
p, aside, .continued {
  padding-top:0;
  margin: 1em; margin-left: 2em;
  line-height: 1.25em;
  text-align:justify;
  text-justify: distribute;
  position: relative;
  /*text-indent: .25em;*/
}
p::before {
    content: attr(id);
    font-size: .75em;
    color:gray;
    vertical-align:top;
    /*float: left;*/
    position: absolute;
    top: 0; left: -2.5em;
    font-style: normal;
}
.dropcap:first-letter {  /*, .abd section.content p:not([nonum]):first-child:first-letter */
   float: left; color: #903;
   font-size: 55pt; line-height: 60px; padding-top: 0px; padding-right: 8px;  margin-top:9pt;
   color: DarkOliveGreen;
   font-family: DropCap, georgia,garamond,serif;
   font-style:normal;
}

.shoghi .dropcap:first-letter,
  .dropcap-plain:first-letter, .shoghi .content .subhead p:first-letter {
   float: left; color: #903;
   font-size: 52pt; line-height: 43px; padding-top: 0px; padding-right: 5px;  margin-top:0pt;
   color: DarkOliveGreen;
   font-family: GentiumPlus, georgia,garamond,serif;
   font-style:normal;
}

p.dropcap, p.dropcap-plain {
  text-indent: 0;
}

/* in case we want an id but no content */
.nonum:before {content:''}
/* footnote and footnote reference */
a[data-fnid]:before {
  content: '(' attr(data-fnid) ')'; font-size: 9pt; color: #667666;
  position: relative; top: -.6em;
}
a[data-fnid]:hover {
  cursor:pointer;
}
aside.fn, aside[data-fnid] {
  font-size: 80%;
  margin-bottom: 1em;
  display: none;
}
aside.fn:before {
  content: attr(id);  margin-right: 1em;
  font-style: italic; font-size: 80%; color: gray;
}
aside[data-fnid]:before {
  content: attr(data-fnid);  margin-right: 1em;
  font-style: italic; font-size: 80%; color: gray;
}
.preamble {
  font-style:italic;
  margin-bottom:1em;
}
.salutation {
  /*font-style: italic;*/
}
.signature {
  white-space: pre-line;
}
.blockquote {
  padding-left:2em; padding-right: 3em;
}
.sitalcent {
  font-style: italic;
  padding-left:3em;
}
.editor-note {
  color: darkgray;
  font-family: "Book Antiqua", Palatino, serif;
  font-style: italic;
}
.verse {white-space: pre;}

/* section header and sub-headers */


.subhead, .header, .section {
  margin: 0em;
  margin-top:2em;
  color: DarkOliveGreen;
  font-family: GentiumPlus,georgia,garamond,serif;
}

[data-title]:before {
  content: attr(data-title);
  font-variant:small-caps;
  /*margin: 1em;*/
  color: DarkOliveGreen;
}
div[data-title]:before, h2[data-title]:before {
  font-variant: small-caps;
  font-size: 28pt;
  margin-left: 1.25em;
}
h3[data-title]:before {
  font-variant: small-caps;
  font-size: 1.5em;
  margin-left: 1.5em;
}
.subhead.date {
  font-size: 1em;
  text-align:left;
  font-style:italic;
  font-weight:normal;
  margin-top:0; margin-bottom: 0;
}
.subhead.desc, .subhead.venue, .subhead.title{
  font-size: .7em;
  text-align:left;
  font-style:italic;
  font-weight:normal;
  margin-top:0; margin-bottom: 0;
}
.subhead.notes {
  font-size: .6em;
  text-align:center;
  font-style:normal;
  margin:2em;
  font-variant:small-caps;
  font-weight:normal;
}

/* text elements */
 /* remove displayed quotes from <q> since they do not copy/paste correctly */
q:before,q:after, blockquote:before, blockquote:after {content:''}
q, blockquote {color: #373B17; padding:.25em;}
blockquote, aside {margin-left: 4em;}
p .baha, p .bab, p .abd, p .sacred {
  font-style: italic; font-family: GentiumPlus, georgia,garamond,serif;
  font-size: 1.1em;
}
p .baha {color: maroon;}
p .bab {color: darkgreen; }
p .abd {color: #306383; }

p span[data-pg]:before {
    content: 'pg ' attr(data-pg); color: #989E98;
    padding: 0; padding-left:3px; padding-right:3px;
    font-style: italic;
    float: right; margin-right: -4em;
    font-size:8pt;
    font-style: normal;
    position: absolute; right: 0;
}

ul {  list-style-type: none; margin-left:2em;}




/* Print and Size adjustments */
 /* Smartphones (portrait and landscape) ----------- */
 @media only screen and (max-width: 490px) {
    p::before {
      font-size: 1em;
      color:black;
      left: -1.5em;
    }
    .titlepage .title {
      font-size: 200%;
    }
  }


 @media only print {
    p {
      margin-right: 4em;
      font-size: 12pt !important;
    }
    p::before {
      color:black;
    }
    .editor-note {
      color: #4D4D4D;
    }
    aside.fn, aside[data-fnid] {display: block;}
    /*.author { display: block; page-break-after: always; }*/
    .publication { display: block; page-break-before: always; }
    h2.section[id] { display: block; page-break-before: always; }
    .titlepage .cover {
      max-width: 60%;
      margin:0;
      -webkit-filter: contrast(100%) brightness(120%);
    }
    .titlepage .copyright {margin-bottom:10em;}
    .subtitle { page-break-after: avoid; }
    .titlepage hr

    h2[data-title]:before {margin-left:0; font-size: 22pt;}

    .pagebreak, .pagebreak-before {display:block; page-break-after: always;}
    .pagebreak-after {display:block; page-break-after: always;}
    .publication  {padding-top: 2em;}
  }



